body {
    background: #eeeeee;
}

#menu {
    background: #dddeee;
    margin: 20px 10px;
    border: 1px dotted #245269;
    padding: 10px;
}

a:hover {
    color: white;
    transition: color 1s;
}

#my-a {
    font-style: italic;
}

#menu-item2 {
    font-weight: bold;
}

#text {
    color: blue;
}


.ololo {
    color: green;
}

a.ololo {
    color: red;
}

