* {
    font-family: "Arial";
}

body {
}

#reg {
    text-align: center;
    margin-top: 5px;
}

#reg .btn-default{
    font-size: 18px;
    line-height: 1.33;
    border-radius: 26px;
}

#pane {
    position: relative;
}

#pane-left {
text-align: center;
}

#search .form-group {


}


#logo {
}

#logo .flaticon {
    background-color: #333;
    border-radius: 65px;
    margin: 10px;
    display: inline-block;
    width: 130px;
    height: 130px;
}

#logo .flaticon:before {
    font-size: 100px;
    color: #333;
    padding-left: 2px;
}

#logo .flaticon {
    background-color: #E9AB0C;
}

#lion {
    background-color: #E9AB0C;
    border-radius: 20px;
    margin: 20px;
}

/* Social buttons */
#socials {
    float: right;
    overflow: hidden;
}

#socials .item {
    float: left;
    margin:5px;
    background: url("/assets/img/sociocons.png") no-repeat 0 0;
    width: 45px;
    height: 45px;
}

#socials .item.fb {
    background: url("/assets/img/sociocons.png") no-repeat 0 0;
}

#socials .item.tw {
    background: url("/assets/img/sociocons.png") no-repeat -49px 0;
}

#socials .item.gg {
    background: url("/assets/img/sociocons.png") no-repeat -103px 0;
}



.article {
    height: 220px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    /*border: double #000000;*/
    /*border-width: 3px 7px 7px 4px;*/

}

.article.odd {


}


.baton {
    float: right;
    text-align: center;
    margin-right: 270px;
}

.baton2 {
    float: left;
    text-align: center;
    margin-left: 330px;
}

.article .title {

    margin-left: 220px;
}

.article .title * {
    text-align: center;
}

.article.odd .title {

    margin-left: 0;
    margin-right: 220px;


}

.article .image {
    position: relative;
    float:left;
    width: 0px;
    height: 200px;
}

.article .image * {
    position: absolute;
    top: 0;
    left: 0;
}

.article .text {
    float:left;
    margin-left: 220px;
}

.article.odd .image {
    float:right;
}

.article.odd .image * {
    right: 0;
    left: auto;
}

.article.odd .text {
    float:right;
    margin-left: 0px;
    margin-right: 220px;
}

.image-thumb {
    width:40px;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    padding: 4px;
}

.image-thumb-large {
    width:200px;
    height: 200px;
    border: 1px solid #dddddd;
    border-radius: 100px;
    padding: 4px;
}

.widget + .widget {
    margin-top: 40px;
}

.widget .item + .item {
    margin-top: 10px;
}

.widget .image-thumb {
    margin-right: 10px;
}

#menu {
    margin-top: 15px;
    border: none;
    background: transparent;
}

#menu-container {
    margin-top: -80px;
}

@media (min-width: 800px) {

    #menu-container {
        /*border-top: 1px solid #cccccc;*/
        border-bottom: 1px solid #e7e7e7;
        /*background: #333;*/
        margin-bottom: 60px;
    }

    #menu-container nav {
        margin: 0px;
    }

    #menu .container-fluid,
    #menu .navbar-collapse,
    #menu form {
        padding-right: 0px;
    }

    #menu .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    #menu form {
        margin-top: 5px;
    }
}