* {
    font-family: "Arial";
}

#pane {
    position: relative;
}

#logo {

    float: left;
    overflow: hidden;

}

#logo .flaticon {
    background-color: #333;
    border-radius: 65px;
    margin: 10px;
    display: inline-block;
    width: 130px;
    height: 130px;
}

#logo .flaticon:before {
    font-size: 100px;
    color: #333;
    padding-left: 2px;
}

#logo .flaticon {
    background-color: #E9AB0C;
}

#lion {
    background-color: #E9AB0C;
    border-radius: 20px;
    margin: 20px;
}

#reg {
    text-align: center;
    overflow: hidden;




}

#reg .btn-default{
    font-size: 18px;
    line-height: 1.33;
    border-radius: 26px;

}
#socials {
    float: right;


}

#socials .item {
    float: left;
    margin:5px;
    background: url("/portal/img/sociocons.png") no-repeat 0 0;
    width: 45px;
    height: 45px;
}

#socials .item.fb {
    background: url("/portal/img/sociocons.png") no-repeat 0 0;
}

#socials .item.tw {
    background: url("/portal/img/sociocons.png") no-repeat -49px 0;
}

#socials .item.gg {
    background: url("/portal/img/sociocons.png") no-repeat -103px 0;
}

#title {
    font-size: 60px;
    margin-top: 25px;
}

#slogan {
    font-size: 24px;
}

#lion {
    background-color: #E9AB0C;
    border-radius: 20px;
    margin: 20px;
}